* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: #333;
  color: white;
}
.containe {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.361) !important;
  color: white;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}

.top_section {
  display: flex;
  align-items: center;
  /* padding: 20px 15px; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  padding-top: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 30px 15px;
  
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none; 
}

.link:hover {
  color: #ffcc00;
  transition: all 0.5s;
}


.icon,
.link_text {
  font-size: 20px;
}
